{% load staticfiles %}

<html>
<head prefix="og: http://ogp.me/ns#">
  <title>Where would you build?</title>
  <script src="{% static "js/home.js" %}"></script>
  <link rel='stylesheet' href='{% static "css/home.css" %}' type='text/css' media='all' />

  <meta property="og:title" content="Where would you build?">
  <meta property="og:description" content="Oxford City needs 28,000 new homes by 2026. Where would you build them?">
  <meta property="og:image" content="static/assets/facebook_image.png">
  <meta property="og:image:type" content="image/png">

  {% if USE_INSPECTLET %}
  <!-- Begin Inspectlet Embed Code -->
  <script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 862217954]);
    (function() {
      function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
      if (window.attachEvent){
        window.attachEvent('onload', __ldinsp);
      }else{
        window.addEventListener('load', __ldinsp, false);
      }
    })();
  </script>
  <!-- End Inspectlet Embed Code -->
  {% endif %}

</head>
<body>
  <div id="home">
  </div>
</body>
</html>
