{% load staticfiles %}

<html>
<head>
  <title>Where would you build?</title>
  <script src="{% static "js/home.js" %}"></script>
  <link rel='stylesheet' href='{% static "css/home.css" %}' type='text/css' media='all' />

  {% if USE_INSPECTLET %}
  <!-- Begin Inspectlet Embed Code -->
  <script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 862217954]);
    (function() {
      function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
      if (window.attachEvent){
        window.attachEvent('onload', __ldinsp);
      }else{
        window.addEventListener('load', __ldinsp, false);
      }
    })();
  </script>
  <!-- End Inspectlet Embed Code -->
  {% endif %}

</head>
<body>
  <div id="home">
  </div>
</body>
</html>
