.#{$ns}-layout {

  &__controlbar {
    float:left;
    width:26em;
  }
  
  &__contents {
    margin-left:26em;
  }
  
  &__map-container {
    width:100%;
    float:left;
  }

  &__map {
    //margin-right:220px;
  }

  &__key {
    float:left;
    width:220px;
    height:100%;
    margin-left:-220px;
    overflow: scroll;
    overflow-x: hidden;
  }
}
